<launch>
  <!-- Load URDF from file -->
  <param name="robot_description" textfile="$(find lab3)/urdf/puma.urdf" />

  <!-- Start Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <!-- Joint State Publisher GUI -->
  <!-- Uncomment this if you need to debug joint positions -->
  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen"/> -->

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lab3)/config/lab3_config.rviz" />
</launch>
